<!DOCTYPE html>
<html lang="en">

<!-- Basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Site Metas -->
<title>Rk85783 - Blogs</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="Rohit Kumar">

<!-- Site Icons -->
<link rel="shortcut icon" href="cloapedia/images/favicon.ico" type="image/x-icon" />
<link rel="apple-touch-icon" href="cloapedia/images/apple-touch-icon.png">

<!-- Design fonts -->
<link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,400i,500,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">

<!-- Bootstrap core CSS -->
<link href="cloapedia/css/bootstrap.css" rel="stylesheet">

<!-- FontAwesome Icons core CSS -->
<link href="cloapedia/css/font-awesome.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="cloapedia/style.css" rel="stylesheet">

<!-- Responsive styles for this template -->
<link href="cloapedia/css/responsive.css" rel="stylesheet">

<!-- Colors for this template -->
<link href="cloapedia/css/colors.css" rel="stylesheet">

</head>